<div class="container-fluid">
    <h2 class="text-center pt-2 ">MedIoT Forum</h2>
    <hr>
    <hr>
    <div class="row py-2" *ngFor="let chat of arrChats; let index=index ; trackBy:trckByIdentify">
        <div class="topic d-flex align-items-center justify-content-between">
            <div class="topic d-flex align-items-center justify-content-between rounded-3 p-1 w-100" type="button"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + index">
                <!-- [data-bs-target]="'#'+chat._id" -->
                <div class="d-flex justify-content-start ps-1 m-0">
                    <i class="fas fa-book-open mx-1"></i>
                    <p class="m-0 ps-2 text-nowrap">{{chat.topic}} <span class="text-black-50">@
                            {{chat.userName}}</span>
                    </p>
                </div>
                <div class="pe-2">
                    <i class="fas fa-arrow-down"></i>
                    <i class="fas fa-arrow-down"></i>
                    <i class="fas fa-arrow-down"></i>
                </div>
            </div>
            <div>
                <button class="btn btn-close" *ngIf="(userID==chat.userId)" (click)="onDelete(chat._id!)"></button>
            </div>
        </div>
        <div class="collapse mt-1" [id]="'collapse' + index">
            <div class="card card-body text-black ">
                <div class="row" *ngFor="let message of chat.messages let index=index ; trackBy:trckByIdentify">
                    <div class="col-12 col-md-2">
                        <p class=" border-3 border-end border-warning  ">@ {{message.userName}}</p>
                    </div>
                    <div class="col-12 col-md-10">
                        <p>
                            {{message.message}}
                        </p>
                    </div>
                    <hr>
                </div>
                <!-- Insert a new message in this topic -->
                <div class="row">
                    <div class="col-11">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                            <input type="text" [(ngModel)]="newResponse" class="form-control" placeholder="Response">
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-success" (click)="responseToTopic(chat._id!, newResponse)">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr>
        <hr>
        <div class="d-flex">
            <div class="form-floating col-11 me-1 w-75">
                <input type="text" class="form-control w-100" id="floatingInput" placeholder="topic"
                    [(ngModel)]="inputNewTopic">
                <label for="floatingInput" class="text-black-50">New Topic</label>
            </div>
            <button class="btn btn-success w-25" (click)="newTopic()">Create Topic</button>
        </div>
    </div>
</div>