.container-fluid{
    background-color: var(--mainColor);    
}

i{
    cursor: pointer;
    font-size: 140%;
    color: var(--secondaryColor);
    transition: 0.5s;
}

a{
    color: var(--secondaryColor);
    font-family: var(--mainFont);
    font-weight: 400;
    transition: 0.5s;
}

.myLink{
    cursor: pointer;
    font-size: 140%;
}

.myLink:hover i, .myLink:hover a{
    color: white;
    transition: 0.5s;          
}

