<nav class="container-fluid">
    <div class="row py-2 px-md-5">
        <div class="col-3">
            <a class="text-decoration-none fs-2" id="linkref" routerLink="/dashboard">MedIoT</a>
        </div>
        <div class="col-9 d-flex justify-content-end align-items-center">
            <i class="fas fa-microchip px-2" routerLink="/dashboard"></i>
            <a routerLink="/dashboard" class="d-none d-md-block pe-3 text-decoration-none">Devices Realtime</a>
            <i class="fas fa-fingerprint px-2" routerLink="/dashboard"></i>
            <a routerLink="/dashboard" class="d-none d-md-block pe-3 text-decoration-none">User Log</a>
            <i class="fas fa-user-tie px-2 " routerLink="/dashboard/profile"></i>
            <a routerLink="/dashboard/profile" class="d-none d-md-block pe-3 text-decoration-none">Profile</a>
        </div>
    </div>
</nav>