div,h2{
    font-family: var(--ternaryFont);
    font-weight: 300;
}

button{
    font-family: var(--secondaryFont);
}

.marco{
    background-position: center center;
    background-size:contain; 
    background-repeat: no-repeat;   
    height: 300px;
}

.ng-touched.ng-invalid:not(form){
    border: 2px solid tomato;
}

.ng-touched.ng-valid:not(form){
    border: 2px solid lightgreen;
}

.error{
    color: tomato;
}

.logout:hover{
    color: var(--optionColor1);
    transition: 0.5s;
    text-shadow: 1px 1px 1px var(--secondaryColor);
    transform: scale(1.1); 
}