.secondaryColor{
    color: var(--optionColor2);   
}

input{
    cursor: pointer;
}

.container-fluid{
    background-color: var(--optionColor1);
    min-height: 35px;
}

p{
    font-size: 80%;
}

a{
    color: white;    
    font-size: 80%;
    font-family: var(--ternaryFont);   
    font-weight: 300; 
}

a.secondaryColor:last-child{
    font-size: 100%;
    color: var(--secondaryColor);
    
}

a:hover{
    color: white;
    transition: 0.5s;
}