<div class="container-fluid fixed-bottom w-100">
    <div class="row">
        <div
            class="col-12 col-md-5 text-center text-md-start ps-md-2 justify-content-start align-items-center d-flex fs-7">
            <a routerLink="/register" class="text-decoration-none ps-3">REGISTER</a>
            <a routerLink="/login" class="text-decoration-none ps-3">LOGIN</a>
            <a routerLink="/aboutus" class="text-decoration-none ps-3">ABOUT US</a>
        </div>
        <div class="col-12  col-md-7 d-flex text-md-end pe-md-1 justify-content-end align-items-center ">
            <p class="fs-7 m-0 p-md-3">&copy; 2021 MedIoT. Made with 💜 by
                <a routerLink="/aboutus" class="secondaryColor text-decoration-none m-0">JM Medina</a>
            </p>
        </div>
        <messages-system></messages-system>
    </div>
</div>