div{
    font-family: var(--ternaryFont);
    font-weight: 300;
}

.row.text-center{
    min-height:30px;
}

.red{
    color: red;
}

.green{
    color: green;
}

i.fs-1{
    font-size: 300%;
}

.text-primary{
    color:var(--secondaryColor) !important;
}