<div class="container p-5">
    <h2 class="text-center">About Us</h2>
    <h3 class="mt-2">Project developed by Juan Miguel Medina </h3>
    <p>With the aim to develop further functionality to the IoT and Web world, this app aims to help to it with an easy
        and direct to use interface. This is plug and play feature, no extra software needed, only you and your hardware
        to make it work smooth</p>
    <h3 class="mt-5">About the Dev</h3>
    <p>This is an one army Project, a "me, myself and I" development made with passion for the full stack development
        with it´s latest Stacks. A modern SPA created with the aim to ease the current development scope with the
        current latests frameworks</p>
    <p>With passion for the IT world , I have been able to accomplish the goal of deliver this peace of software to the
        open community. Give a feedback to me, if you want to improve its functionalities and scope.</p>
    <p>Thank you for reading! Enjoy the App</p>
    <div class="w-100">
        <div class="logo mx-auto"> </div>
    </div>
</div>