<div class="container">
    <h2 class="text-center">Developers Developers Developers Developers Developers </h2>
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
    <img src="https://c.tenor.com/xJSM2Ky3WpgAAAAM/steve-ballmer-microsoft.gif">
</div>