.card{
    background-color: var(--optionColor1);
    border: 2px solid var(--secondaryColor);
}

i{
    font-size: 500%;
}

.btn-primary{
    background-color: var(--secondaryColor);
    text-shadow: 1px 1px 1px black;
}

.secondaryColor{
    color: var(--secondaryColor);
    text-shadow: 1px 1px 1px black;
}

.description{
    min-height: 100px;
}

input[type=range] {
    height: 38px;
    -webkit-appearance: none;    
    width: 100%;
    background-color: transparent !important;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--secondaryColor);;
  }

  input[type=range]:focus::-webkit-slider-thumb{
    background: white;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }

  input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }

  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: tras;
    cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }

  input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }
