.error{
    color: tomato;
}

.subtext{
    color:var(--secondaryColor)
}

.ng-touched.ng-invalid:not(form){
    border: 2px solid tomato;
}

.ng-touched.ng-valid:not(form){
    border: 2px solid green;
}

form{
    /* background-image: url('/assets/images/leathered_blue_full.png');
    background-repeat: no-repeat;
    background-size: cover;    
    background-blend-mode:overlay; */
    background-color: var(--optionColor1);
    border-radius: 10px;
    border:2px solid var(--secondaryColor);    
    box-shadow: 0px 0px 6px var(--secondaryColor);
    font-family: var(--ternaryFont);
    font-weight: 500;
}

label{
    color:var(--mainColor)
}

h2{
    color: var(--secondaryColor);
}

.btnsubmit{
    background-color: var(--secondaryColor);
}

p{
    font-family: var(--ternaryFont);
    font-weight: 500;
}

