<div class="container pb-2">
    <div class="row text-center p-2">
        <div class="col.12 p-3 wrapper text-center">
            <h2 class="mt-2">ADD DEVICE</h2>
            <form [formGroup]="formulario" novalidate>
                <div class="mb-3">
                    <select class="form-select form-select-lg mb-3" formControlName="deviceType"
                        aria-label=".form-select-lg ">
                        <option class="text-dark" value=''>Select your device</option>
                        <option value="esp32">ESP32-DevKit1</option>
                        <option value="arduino">Arduino Uno</option>
                        <option value="raspberry">Raspberry Pi</option>
                    </select>
                    <p class="error" *ngIf="checkError('deviceType', 'required',true)">
                        El campo es requerido
                    </p>
                </div>
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control text-dark" id="floatingInput" formControlName="nickname">
                    <label for="floatingInput">Device Name</label>
                    <p class="error" *ngIf="checkError('nickname', 'required',true)">
                        El campo es requerido
                    </p>
                </div>
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control text-dark" id="floatingInputDescription"
                        formControlName="description">
                    <label for="floatingInputDescription">Device description</label>
                    <p class="error" *ngIf="checkError('description', 'required',true)">
                        El campo es requerido
                    </p>
                </div>
                <div class=" form-floating mb-3">
                    <input type="text" class="form-control text-dark" id="floatingInputDid" formControlName="dId">
                    <label for="floatingInputDid">Device Unique ID</label>
                    <p class="error" *ngIf="checkError('dId', 'required',true)">
                        El campo es requerido
                    </p>
                    <div class="py-2 d-flex justify-content-center align-items-center">
                        <button class="btn border-white" (click)="validateId($event)"
                            [ngClass]="{'btn-success': idAvaliable, 'btn-danger': !idAvaliable}"
                            [disabled]="this.formulario.get('dId')?.pristine">Validate ID</button>
                        <p class="m-0 ps-2" [ngClass]="{'success': idAvaliable, 'error': !idAvaliable}"
                            *ngIf="this.formulario.get('dId')?.touched && clicked"> {{idAvaliable?
                            'Success!': 'ID is not avaliable'}}</p>
                    </div>
                </div>
                <div class="mb-3">
                    <p class="d-inline-flex justify-content-center align-items-center cursored hoverablep"
                        (click)="addVariableToForm()">
                        <i class="fas fa-plus-square ps-2 fs-1 cursored pe-2"></i>
                        Add Variable for this device
                        <i class="fas fa-plus-square ps-2 pe-2 fs-1 cursored"></i>
                    </p>
                </div>
                <div class="mb-3" *ngFor="let variable of variables let index=index">
                    <label class="form-label labelvariable">Variable name unique ID. Use a descriptive name e.x:
                        'temp_room', 'humidity'...
                        <i class="fas fa-times ps-3 text-danger cursored"
                            (click)="deleteVariableFromForm(index)"></i></label>
                    <input type="text" class="form-control" [formControlName]="variable">
                    <p class="error" *ngIf="checkError(variable, 'required',true)">
                        El campo es requerido
                    </p>
                </div>
                <button (click)="onSubmit()" class="btn w-25 mt-2 btnform "
                    [ngClass]="{'btn-danger': formulario.invalid,'bg-opacity-50':formulario.invalid ,'btn-success':formulario.valid, 'bg-opacity-100':formulario.valid}"
                    [disabled]="!formulario.valid">SAVE </button>
            </form>
        </div>
    </div>
    <h2 class="text-center mt-5">Active Devices</h2>
    <div class="row pt-3 pb-5">
        <div class="col-12 col-lg-4 " *ngFor="let device of devices">
            <div class="p-2">
                <div class="card bg-transparent border-success p-lg-1 device">
                    <h5 class="card-title text-center">{{device.deviceType}}</h5>
                    <div class="imgportrait"
                        [ngStyle]="{'backgroundImage': 'url(/assets/images/'+device.deviceType+'.png)'}"></div>
                    <div class="card-body">
                        <p class="card-text">{{device.description}}</p>
                    </div>
                    <p class="text-center">Variables</p>
                    <ul class="list-group-flush bg-transparent list-group-numbered text-white">
                        <li class="list-group-item bg-transparent text-white-50"
                            *ngFor="let variable of device.variables">{{variable}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>