div{
    font-family: var(--ternaryFont);
    font-weight: 300;
}

.wrapper{   
    border-color: rgba(122, 116, 212, 0.253);    
    border-radius: 10px;    
    box-shadow: 1px 1px 3px lightgrey;
}

.ng-touched.ng-invalid:not(form){
    border: 2px solid tomato;
}

.ng-touched.ng-valid:not(form){
    border: 2px solid rgb(20, 179, 20);
}

.error{
    color: tomato;
}

.success{
    color: green;
}

input{
    border: 2px solid white;
    border-radius: 0.5rem;
}

.btnform{
    border: 1px solid white;
}

input, .cursored{
    cursor: pointer;
}

h2{
    color: var(--secondaryColor);
}

label{
    color: var(--secondaryColor);
    text-shadow: 0px 0px 1px white;
    font-family: var(--ternaryFont);
    font-weight: 400;
}

i{
    text-shadow: none;
}

label:last-child{
    color: lightgrey;
}