i{
    padding: 10px 0;
    font-size: 200%;
    color: var(--secondaryColor);
}

article{
    border: 2px solid var(--optionColor1);
}

a{
    text-decoration: none;
    color: var(--secondaryColor);
}

p{
    font-family: var(--mainFont);
    font-weight: 200;
    font-size: 115%;
    line-height: 115%;
}