<div class="container h-100 d-flex flex-column justify-content-center">
    <div class="row ">
        <div class="col-2 p-0 py-2">
            <p class="p-0 text-end">OFF</p>
        </div>
        <div class="col-8 text-center p-0">
            <div class=" form-switch d-block">
                <input class="form-check-input w-100 p-0" type="checkbox" (change)="changeState($event)">
            </div>
        </div>
        <div class="col-2 p-0">
            <p class="text-start p-0 py-2">ON</p>
        </div>
    </div>
    <div class="row">
        <p class="text-center">Variable ON/OFF superchula</p>
    </div>
</div>