<div class="container-fluid wrapper">
    <div class="row">
        <div class="col-12 col-md-3 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 col-md-3 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 col-md-3 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 col-md-3 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 col-md-6 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 col-md-6 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 col-md-12 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
        <div class="col-12 p-1 border">
            <blackboard-item></blackboard-item>
        </div>
    </div>
</div>