div{
    font-family: var(--mainFont);
    font-weight: 300;
}

button{
    font-family: var(--ternaryFont);
    font-weight: 300;
}

.modal-body, label, h5{
    font-family: var(--secondaryFont);
}

label{
    font-size: 90%;   
}

.wrapper>div:last-child{
    margin-bottom: 70px;
    padding: 10px;
}

.border{
    border: 1px solid white;
}

.btn-info{
    background-color: var(--optionColor1);
    color: white;
}

.btn-primary{
    background-color: var(--secondaryColor);
}

.customBorder{
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.cursored{
    cursor: pointer;
}

.iconSelected{
    border: 2px solid var(--optionColor1);
}