.dashboard{
    margin-top: 20px;
    background-color: var(--optionalColor4);
    border-radius: 10px; 
    min-height: 100vh;  
    border: 2px solid var(--secondaryColor);
}

.myBorder{
    border-bottom: 2px solid var(--secondaryColor);
    padding-bottom: 10px;
    background-color: var(--optionColor1);
}

