<div
    class="container-fluid d-flex flex-column align-content-center align-items-center justify-content-around wrapper p-1 overflow-hidden">
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="devices">
        <i class="fas fa-microchip"></i>
        <a class="d-none d-lg-block ps-3">Devices</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="blackboard">
        <i class="fas fa-sitemap"></i>
        <a class="d-none d-lg-block ps-3">Blackboard</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="realtime">
        <i class="fas fa-broadcast-tower"></i>
        <a class="d-none d-lg-block ps-3">Realtime</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="history">
        <i class="fas fa-chart-pie"></i>
        <a class="d-none d-lg-block ps-3">History</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="detailing">
        <i class="fas fa-chart-bar"></i>
        <a class="d-none d-lg-block ps-3">Detailing</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="chat">
        <i class="fas fa-comments"></i>
        <a class="d-none d-lg-block ps-3">Chat</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="docs">
        <i class="fas fa-broadcast-tower"></i>
        <a class="d-none d-lg-block ps-3">Devices Doc</a>
    </div>
    <div class="d-flex justify-content-lg-start justify-content-center align-items-center w-100 ps-lg-3 myLink"
        routerLink="exports">
        <i class="far fa-save"></i>
        <a class="d-none d-lg-block ps-3">Exports</a>
    </div>
</div>