.wrapper{
    background-color: var(--optionColor1);    
    border-radius: 10px;
    margin-top: 20px;
    height: 75vh;
}

.wrapper>div{
    border-bottom: 1px solid lightgrey;
}

a{
    font-size: 100%;
    font-family: var(--ternaryFont);
    font-weight: 300;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

i{
    cursor: pointer;
    font-size:150%;
    padding: 5px 0;
    transition: 0.5s;
}

.myLink{
    font-size: 120%;
    cursor: pointer;
}

.myLink:hover i, .myLink:hover a{
    color: var(--secondaryColor);
    transition: 0.5s;
}

.myCutomborder{
    padding:10px;
    box-shadow: 2px 2px 30px black;
    border: 4px solid var(--secondaryColor);
}