.wrapper{
    /* background-image: url('/assets/images/leathered_blue_full.png');
    background-size: cover;
    background-color: rgb(122, 116, 212);;
    background-blend-mode: multiply;
    border-radius: 10px;    
    box-shadow: 1px 1px 3px lightgrey; */
    background-color: var(--optionColor1);
    border-radius: 10px;
    border:2px solid var(--secondaryColor);    
    box-shadow: 0px 0px 6px var(--secondaryColor);
    font-family: var(--ternaryFont);
    font-weight: 500;
}

.ng-touched.ng-invalid:not(form){
    border: 2px solid tomato;
}

.ng-touched.ng-valid:not(form){
    border: 2px solid lightgreen;
}

.error{
    color: tomato;
}

input{
    border: 2px solid transparent;
}

.btnform{
    border: 1px solid white;
}

input{
    cursor: pointer;
}

h2{
    color: var(--secondaryColor);
}

label{
    color: var(--secondaryColor);    
    font-family: var(--font4);
    font-weight: 500;
}

